:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --white: #fff;
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", serif;
}

body{
    background-color: var(--bg);
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--bg);
}

.navbar a{
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--white);
    transition: transform 0.2s, color 0.2s, border-bottom 0.2s, padding-bottom 0.2s;
    position: relative;
}

.navbar a::after { 
    content: ''; 
    display: block; 
    position: absolute; 
    bottom: -0.1rem; 
    left: 0; 
    width: 100%; 
    border-bottom: 0.1rem solid transparent; 
    transition: border-bottom-color 0.2s; 
}

.navbar a:hover{
    color: var(--main-color);
    transform: scale(1.25);
}
.navbar a:hover::after { 
    border-bottom-color: var(--main-color); 
}

.icons i{
    color: var(--white);
    cursor: pointer;
    margin: 1rem;
    font-size: 2rem;
    transition: transform 0.2s;
}

.icons i:hover{
   transform: scale(1.25);
   
}

.btn{
    background: var(--main-color);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block; /* Remove a quebra de linha */
}

.btn:hover{
    letter-spacing: 0.1rem;
}

.home-container{
    background: url("./Img/grãos_café.jpg");
    background-position: center; /* Centraliza a imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o container */
    
}
.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.content{
    max-width: 60rem;

}

.content h3{
    color: var(--white);
    font-size: 6rem;
}

.content p{
    color: var(--white);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.title{
    color: var(--main-color);
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.title span{
    color: var(--white);
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
    
}

.about .row .content{
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--white);
}

.about .row .content p{
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem 0;
    line-height: 1.8; /* Espaçamento entre linhas */
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  
}

.menu .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img{
   height: 10rem;
}
.menu .box-container .box h3{
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: var(--white);
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background-color: var(--white);
}

/* >* signific que todos os filhos  dentro do elemento selecionado irão receber as propriedades definidas*/
.menu .box-container .box:hover>*{
    color: var(--black);
    
}

.review .box-container .box{
    border: var(--border);
    padding: 3rem 2rem;
    text-align: center;
}

.review .box-container .box p{
    color: var(--white);
    font-size: 1.5rem;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}
.review .box-container .box h3{
    color: var(--main-color);
    margin: 1rem 0;
    font-size: 2rem;
}

.review .box-container .box .user{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.address{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.address iframe{
    border:0;
}

.footer{
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.footer .share{
    padding: 1rem 0;
}

.share a {
    color: var(--white);
    margin: 0 0.5rem; 
    border-radius: 50%; /* Mantém o background arredondado */
    padding: 1rem;
    display: inline-block;
    width: 4rem; /* Define a largura do elemento */
    height: 4rem; /* Define a altura do elemento */
    text-align: center; /* Centraliza o conteúdo */
    line-height: 4rem; /* Alinha verticalmente o ícone */
    transition: background-color 0.3s ease, background-size 0.3s ease, border-radius 0.3s ease;
}

.share a:hover {
    background-color: var(--main-color); /* Cor de fundo ao passar o mouse */
    border-radius: 50%; /* Garante que o background se mantenha redondo ao passar o mouse */
    background-size: 110%; /* Aumenta o tamanho do fundo ao passar o mouse */
}





